@import 'font-awesome';
@import 'foundation';




body {
  background: #e2ebf3;
}

#board {
	background-color: brown;
	width: 100%;
	height: 100vh;
	position: relative;

	#addNote {
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.customBtn {
		@include button-size($padding: rem-calc(7));
		

	}
}


div#note {
	width: 150px;
	height: 150px;
	margin: 5px;
	position: absolute;
	background-color: yellow;
	box-shadow: 5px 5px 15px rgba(0,0,0,.5);
	cursor: pointer;

	#noteBtnWrapper {
	position: absolute;
	bottom: 3px;
	right: 3px;

		.noteBtn {
		margin: 3px;

		@include button-size($padding: rem-calc(7))
	
		
			.btnIcon {
				display: block;
				text-align: center;
				margin: 0 auto;
			}
		}
	}
}

